html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#displayHud {
	right: 30px;
	bottom: 30px;
	display: none;
	position: absolute !important;
	z-index: 999 !important;
}

#displayInfos {
	float: left;
	font-size: 11.5px;
	line-height: 18px;
	text-align: right;
	padding: 34px 20px 0 0;
	letter-spacing: 0.6px;
	color: rgba(255,255,255,0.5);
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Arial,Helvetica,sans-serif;
}

#displayInfos b {
	color: rgba(255,255,255,0.8);
}

#displayBars {
	float: left;
	width: 156px;
	border-radius: 6px;
	padding: 15px 15px 5px;
	background: rgba(0,0,0,0.3);
	box-shadow: 1px 1px rgba(0,0,0,0.3);
}

.health {
	float: left;
	width: 16px;
	height: 16px;
	opacity: 0.8;
	margin: 0 0 7px;
	background: url("images/health.png") center no-repeat;
}

.armour {
	float: left;
	width: 16px;
	height: 16px;
	opacity: 0.8;
	margin: 0 0 7px;
	background: url("images/armour.png") center no-repeat;
}

.hunger {
	float: left;
	width: 16px;
	height: 16px;
	opacity: 0.8;
	margin: 0 0 7px;
	background: url("images/hunger.png") center no-repeat;
}

.thirst {
	float: left;
	width: 16px;
	height: 16px;
	opacity: 0.8;
	margin: 0 0 7px;
	background: url("images/thirst.png") center no-repeat;
}

.healthBar {
	float: left;
	width: 130px;
	height: 12px;
	border-radius: 10px;
	margin: 2px 0 9px 10px;
	background: rgba(80,155,80,0.3);
}

.healthHover {
	float: left;
	height: 12px;
	border-radius: 10px;
	background: rgba(80,155,80,0.6);
	transition: all 0.9s;
}

.armourBar {
	float: left;
	width: 130px;
	height: 12px;
	border-radius: 10px;
	margin: 2px 0 9px 10px;
	background: rgba(190,50,0,0.3);
}

.armourHover {
	float: left;
	height: 12px;
	border-radius: 10px;
	background: rgba(190,50,0,0.6);
	transition: all 0.9s;
}

.hungerBar {
	float: left;
	width: 130px;
	height: 12px;
	border-radius: 10px;
	margin: 2px 0 9px 10px;
	background: rgba(190,110,0,0.3);
}

.hungerHover {
	float: left;
	height: 12px;
	border-radius: 10px;
	background: rgba(190,110,0,0.6);
	transition: all 0.9s;
}

.thirstBar {
	float: left;
	width: 130px;
	height: 12px;
	border-radius: 10px;
	margin: 2px 0 9px 10px;
	background: rgba(33,106,146,0.3);
}

.thirstHover {
	float: left;
	height: 12px;
	border-radius: 10px;
	background: rgba(33,106,146,0.6);
	transition: all 0.9s;
}

#displayVehicle {
	right: 236px;
	bottom: 111px;
	display: none;
	font-size: 24px;
	font-weight: 700;
	text-align: right;
	color: rgba(255,255,255,0.6);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Arial,Helvetica,sans-serif;
}

#displayVehicle b {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(255,255,255,0.3);
}

#displayVehicle s {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(134,208,73,0.6);
	text-decoration: none;
}

cor {
	color: rgba(244,196,65,255);
}

#displayLogo {
	background: url("images/logo.png") no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 215px;
	height: 136px;
	z-index: 999 !important;
}

#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	z-index: 999 !important;
}

#movieBottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	z-index: 999 !important;
}